
.button{
    width: 180.13px;
    height: 54px;
    background-color: #000000E5;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    font-size: 20px;
    }
    .buttonNavigate{
        width: 180.13px;
        height: 54px;
        background-color: #000000E5;
        color: var(--color-blue-dark);
        border: 2px solid var(--color-blue-dark);
        border-radius: 10px;
        font-size: 20px;
        }
    Link{
        text-decoration: none;
    }