:root{
--color-team-blue-light:#6BD1FF;
--color-blue-dark:#2271D1;
--color-background:#000000E5;
--color-team-green:#00C86F;
--color-team-yellow:#FFBA05;
--color-defaultWords:#FFFFFF;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

